extend templates/layout.pug

block content
    .container
        h1.flow-text Add new Slot to System.
        .row
            -
                var actionURL = slot.id == null ? "/admin/slot" : "/admin/slot/" + slot.id + "/edit";
                var encType = slot.id == null ? "multipart/form-data" : "application/x-www-form-urlencoded";
            form.col.s12(action=actionURL method="POST" enctype=encType)
                .row
                    .input-field.col.s12.m6
                        <input placeholder="Name" name="name" id="name" type="text" class="validate" value=#{slot.name}>
                        <label for="name">Slot Name</label>
                    .input-field.col.s12.m6
                        <input placeholder="Type" name="type" id="type" type="text" class="validate" value=#{slot.type}>
                        <label for="type">Slot Type</label>
                    .input-field.col.s12
                        <input placeholder="Call To Action" name="callToAction" id="call-to-action" type="text" class="validate" value="#{slot.callToAction}">
                        <label for="call-to-action">Slot Call To Action</label>
                    .input-field.col.s12
                        <input placeholder="URL Scheme" name="scheme" id="scheme" type="text" class="validate" value=#{slot.scheme}>
                        <label for="scheme">Slot URL scheme</label>
                    .input-field.col.s12
                        <input placeholder="Slot Value Hint" name="hint" id="hint" type="text" class="validate" value="#{slot.hint}">
                        <label for="hint">Slot Value Hint</label>
                    if slot.image == null
                        .file-field.input-field.col.s12
                            <div class="btn">
                                <span>Image</span>
                                <input name="image" type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate"  placeholder="Image to be used as the face of your money jar" type="text">
                            </div>
                    //- TODO: Have a submit/next button
                    .col.s12.center
                        if slot.id
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        else 
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
        
        if slot.image
            .row
                .col.s12.slot-space.center
                    //- TODO: Return src=slot.image.src,
                    img.slot-img(src="/admin/image/"+slot.image.id, alt=slot.name)
                .col.s12.center
                    br
                    a.btn(href="/admin/image/"+slot.image.id+"/edit") Change Image