extend templates/layout.pug

block content
    .container
        if jar.shortCode
            h1.flow-text Update <strong>#{jar.shortCode}</strong>  Money Jar
        else 
            h1.flow-text Create a new Money Jar
        .row
            -
                var actionURL = jar.shortCode == null ? "/admin/open/jar" : "/admin/jar/" + jar.shortCode + "/edit";
            form.col.s12(action=actionURL method="POST")
                .row
                    .input-field.col.s12
                        <input placeholder="Short code" id="short_code" type="text" class="validate" value=#{jar.shortCode}>
                        <label for="short_code">Short Code which will be on links</label>
                    .input-field.col.s12
                        <input placeholder="Display Name" id="display_name" type="text" class="validate" value=#{jar.displayName}>
                        <label for="display_name">Display name will be heading of jar</label>
                    .input-field.col.s12
                        <input placeholder="Description" id="description" type="text" class="validate" value=#{jar.description}>
                        <label for="description">Short description for why people should fill your money jar</label>
                    //- TODO: Display Image if it is available...
                    if jar.image == null
                        .file-field.input-field.col.s12
                            <div class="btn">
                                <span>Image</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate"  placeholder="Image to be used as the face of your money jar" type="text">
                            </div>

                    //- TODO: Have a submit/next button
                .row
                    .col.s12.center
                        if jar.shortCode
                            <button class="btn waves-effect waves-light" type="submit" name="action">Update
                                <i class="material-icons right">sync</i>
                            </button>
                        else
                            <button class="btn waves-effect waves-light" type="submit" name="action">Next
                                <i class="material-icons right">send</i>
                            </button>
        
        if jar.image
            .row
                .col.s12.slot-space
                    img.slot-img(src=jar.image.src, alt=jar.displayName)
                .col.s12.center
                    br
                    a.btn(href="admin/image/"+jar.image.id+"/edit") Change Image